body {
	background-color: black;
}
.main {
	background-color: white;
	margin-top: 110px;
	padding-left: 100px;
	min-width: 1200px;
	height: 500px;
	position: relative;
	z-index: 1; 
}
.hadouken, .ryu-cool, .ryu-ready, .ryu-still, .ryu-throwing {
	background-repeat: no-repeat;
}
.hadouken {
	background-image: url('https://raw.githubusercontent.com/triley22/jquerystreetfighter/master/images/hadouken.gif');
	width: 156px;
	height: 90px;
	display: none;
	float: left;
	position: absolute;
	top: 167px;
	left: 520px;
	z-index: 10;
}
.ryu-holder, .ryu {
	float: left;
}
.ryu {
	width: 659px;
	height: 494px;
}
.ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
	width: 659px;
	height: 494px;
}
.ryu-ready, .ryu-throwing, .ryu-cool {
	display: none;
}
.ryu-cool {
  background-image: url('https://raw.githubusercontent.com/triley22/jquerystreetfighter/master/images/ryu-cool.gif');
 }
.ryu-ready {
  background-image: url('https://raw.githubusercontent.com/triley22/jquerystreetfighter/master/images/ryu-ready-position.gif');
}
.ryu-still {
  background-image: url('https://raw.githubusercontent.com/triley22/jquerystreetfighter/master/images/ryu-standing-still.png');
}
.ryu-throwing {
  background-image: url('https://raw.githubusercontent.com/triley22/jquerystreetfighter/master/images/ryu-throwing-hadouken.png');
}
.text-content {
	position: absolute;
	left: 650px;
	height: 425px;
	width: 600px;
	padding-top: 60px;
}
.sf-logo {
	background-image: url('https://raw.githubusercontent.com/triley22/jquerystreetfighter/gh-pages/images/sf-logo.gif');
	width: 380px;
	height: 180px;
	margin-left: auto;
	margin-right: auto;
}
.instructions {
	width: 50%;
	line-height: 45px;
	margin-left: 275px;
	font-family: sans-serif;
	font-size: 45px;
	width: 600px;
}
.instructions p {
	width: 50%;
	color: orange;
	font-size: 26px;
	line-height: 45px;

}
.instructions p + p {
	margin-left: 225px;
}







