body {
	background-color: black;
}
.main {
	background-color: white;
	margin-top: 110px;
	padding-left: 100px;
	min-width: 1200px;
	height: 500px;
	position: relative;
	z-index: 1; 
}
.ryu {
	width: 659px;
	height: 494px;
}
.ryu-ready, .ryu-still, .ryu-throwing {
	width: 659px;
	height: 494px;
}
.ryu-ready, .ryu-throwing {
	display: none;
}
.ryu-ready {
  background-image: url('https://raw.githubusercontent.com/triley22/jquerystreetfighter/master/images/ryu-ready-position.gif');
}
.ryu-still {
  background-image: url('https://raw.githubusercontent.com/triley22/jquerystreetfighter/master/images/ryu-standing-still.png');
}
.ryu-throwing {
  background-image: url('https://raw.githubusercontent.com/triley22/jquerystreetfighter/master/images/ryu-throwing-hadouken.png');
}
.hadouken, .ryu-ready, .ryu-still, .ryu-throwing {
	background-repeat: no-repeat;
}
.hadouken {
	background-image: url('https://raw.githubusercontent.com/triley22/jquerystreetfighter/master/images/hadouken.gif');
	width: 156px;
	height: 90px;
	display: none;
	float: left;
	position: absolute;
	top: 167px;
	left: 520px;
	z-index: 10;
}








